
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Tilt+Prism&display=swap');

html {
  line-height: 1.15;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  /* font-family: 'Oxygen', sans-serif; */
  position: relative;
}


.light-mode {
  background-color: #fff;
  color: #121212;
}

.dark-mode {
  background-color: #121212;
  color: #fff;
  opacity: 0.7;
}
  #toggle-mode{
display: flex;
/* width: 10%;*/
padding-left: 20px; 
} 
#toggle-mode img{
  max-width: 5%;
  height: auto;
}
section {
  padding: 50px 18px;
}

.content {
  max-width: 1200px;
  display: block;
  margin: 0 auto;
}

.bold {
  font-weight: 700;
}

.dot {
  color: #1b1a1a;
}

h2 {
  font-size: 36px;
  margin: 5px 0 10px;
  color: rgb(132, 132, 132);
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 70px;
    color: #848484;
    font-weight: 700;
  }
}

img {
  max-width: 50%;
  height: auto;
}



.hamburger img {
  max-width: none;
}
.center {
  text-align: center;
}
.site-header {
  z-index: 10;
  font-family: "Roboto Condensed", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #fff;
}

@media screen and (min-width: 1250px) {
  .site-header {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.site-header .nav-logo {
  -ms-flex-item-align: start;
  align-self: flex-start;
  padding: 10px 5px 5px;
}

.site-header .nav-logo a img {
  max-width: 30px;
  height: auto;
}

@media screen and (min-width: 768px) {
  .site-header .nav-logo a img {
    max-width: 30px;
    height: auto;
  }
}

.site-header .nav-links {
  display: none;
  width: 100%;
}

@media screen and (min-width: 1250px) {
  .site-header .nav-links {
    display: block;
    background-color: #fff;
  }
}

.site-header .nav-links ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

@media screen and (min-width: 1250px) {
  .site-header .nav-links ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    color: #000000;
  }

  #toggle-mode img{
    max-width: 10%;
    height: auto;
  }
}

.site-header .nav-links ul li {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}


.site-header .nav-links ul li a {
  font-size: 18px;
  text-transform: uppercase;
  font-family: 400;
  color: #848484;
  letter-spacing: 1.2px;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  
}

.site-header .nav-links ul li:hover {
  color: white;
  background-color: #1c2b33;
  touch-action: zoom;
}

  #toggle-mode:hover{
  background-color:white;
}

.site-header button {
  cursor: pointer;
  background: transparent;
  border: none;
  max-width: 50px;
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
}

@media screen and (min-width: 768px) {
  .site-header button {
    top: 20px;
  }
}

@media screen and (min-width: 1250px) {
  .site-header button {
    display: none;
  }
}

.nav-links.active {
  display: block;
  background:white transparent;
  
}

.banner {
  padding: 90px 15px;
  background-color:  #1c2b33;
  text-align: center;
  color: #ffffffb3;
}

.light-mode .banner{
  background-color:#1c2b33;
  color: #121212;
}

.dark-mode .banner{
  background-color:  #1c2b33;
  color: #fff;
}


.banner .banner--content {
  max-width: 1400px;
  height: auto;
  display: block;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
}

.banner .banner--content .name {
  text-transform: uppercase;
}


.banner .banner--content .designation {
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  font-family: "lastica";
  font-weight: 700;
  font-size: 36px;
  margin: 0;
}
h1.designation{
  font-family: "lastica";
}

.name{
  color: #4c5b63;
  font-family: "lastica";
}


@media screen and (min-width: 768px) {
  .banner .banner--content .designation {
    font-size: 70px;
    font-family: "lastica";
  }
  .name{
  font-size: 40px;
font-family: "lastica";
z-index: 18px;
color: #4c5b63;
}

}

.banner .banner--content .tagline {
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  .banner .banner--content .tagline {
    font-size: 26px;
  }
}

.promo {
  background:  #1c2b33;
}

.light-mode .promo{
  /* background-color: white; */
  color: #121212;
}

.dark-mode .promo{
  background-color: #121212;
  color: #fff;
}




.promo .content h2 {
  font-size: 36px;
  font-weight: 300;
  color: #222;
  text-shadow: 0 1px 2px #222;
  
}

@media screen and (min-width: 768px) {
  .promo .content h2 {
    font-size: 70px;
}

.promo .content h2 span.orange {
  font-weight: 700;
}

.promo .content p {
  font-size: 22px;
}

@media screen and (min-width: 768px) {
  .promo .content p {
    font-size: 36px;
    opacity: 0.4;
  }
}


}

/* About section */

#about .content h2 {
  text-align: center;
  color: rgb(132, 132, 132);
}
@media screen and (max-width: 360px){
#about .about-container {
  /* display: block; */
  display: flex;
  flex-direction: column-reverse;
}


}
.about-container-left p {
  
  margin: 6px 0 10px;
  color: #222;
  text-align: justify;
}

@media screen and (min-width: 768px) {
  #about .about-container {
     display: -webkit-box;
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

  }
}

#about .about-container-left {
  -ms-flex-preferred-size: 10%;
  flex-basis: 40%;
  /* background: rgb(195, 195, 195); */
  padding: 30px 15px;
  opacity: 0.7;
}

#about .about-container-left li {
  font-style: italic;
  line-height: 1.9;
}

#about .about-container-right {
  -ms-flex-preferred-size: 60%;
  flex-basis: 60%;
  /* background: #c3c3c3; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#about .about-container-right img {
  max-width: 100%;
  -ms-flex-item-align: start;
  align-self: flex-start;
   /* border: 1px solid rgb(195, 195, 195); */
   opacity: 0.9;
}

@media screen and (min-width: 1200px) {
  #about .about-container-right img {
    -ms-flex-item-align: stretch;
    align-self: stretch;
  }
  #about .about-container-right img {
  padding-top: 50px;
  padding-left: 50px;
  max-width: 80%;
  height: 600px;
  -ms-flex-item-align: start;
  align-self: flex-start;
  /* border: 1px solid rgb(195, 195, 195); */
}

#about .about-container-right img {
  padding-top: 50px;
  padding-left: 50px;
  max-width: 100%;
  height: 600px;
  -ms-flex-item-align: start;
  align-self: flex-start;
  /* border: 1px solid rgb(195, 195, 195); */
}

  .about-container-left p {
     font-size: 18px; 
    margin: 15px 0 10px;
    color: #222;
    opacity: 0.9;
  }
}
 /*About dark-mode */

 .light-mode #about .about-container-left{

  color: white;
}

.dark-mode #about .about-container-left{
  background-color: #121212;
  color:white;
}

.dark-mode #about .about-container-left p{

  background-color: #121212;
  color:white;
}





/* Skill section */

#skill .skill--content {
  display: block;
}

#skill .skill--content .left {
  -ms-flex-preferred-size: 0%;
  flex-basis: 30%;
}

#skill .skill--content .left {
  display: flex;
  justify-content: center;
  font-size: 70px;
  font-weight: 700;
  color: rgb(132, 132, 132);
}

#skill .skill--content .right {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  /* background: rgb(195, 195, 195); */
}

#skill .right .item {
  display: block;
}
@media screen and (min-width: 768px) {
  #skill .skill--content .right {
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: flex-start;
    /* background: rgb(195, 195, 195); */
  }
}

#skill .skill--content .right .item {
  -ms-flex-preferred-size: 32%;
  flex-basis: 32%;
  text-align: center;
  padding: 30px 15px;
  margin-bottom: 30px;
  border-width: 5px 5px 5px 5px;
  
}

@media screen and (min-width: 768px) {
  #skill .skill--content .right .item {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  #skill .skill--content .right .item {
    width: 400px;
  }
}

#skill .skill--content .right .item img {
  max-width: 100px;
  height: auto;
}

/* Skill dark mode */

.light-mode  #skill .skill--content .right {

  color: #121212;
  opacity: 0.7;
}

.dark-mode #skill .skill--content .right {
  background-color: #121212;
  color:white;
}


/* portfolio section */

#portfolio {
  z-index: 1;
}

#portfolio h2 {
  color: rgb(132, 132, 132);
  display: block;
  margin-bottom: 30px;
}

#portfolio .portfolio--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#portfolio .portfolio--content .item {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  position: relative;
  /* background-color: rgb(195, 195, 195); */
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

#portfolio .portfolio--content .item h3 {
  color: black;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

#portfolio .portfolio--content .item img {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

#portfolio .portfolio--content .item:hover > h3 {
  opacity: 1;
}

#portfolio .portfolio--content .item:hover > img {
  opacity: 0.3;
}

#contact .contact-detail,
#contact address {
  max-width: 800px;
  display: block;
  margin: 0 auto;
  text-align: justify;
}

#contact address {
  margin-top: 60px;
}
.portfolio-view-code a{
text-decoration: none;
color: #000;
text-transform: uppercase;
}
#contact address a {
  text-decoration: none;
}

/* Portfolio dark mode */

.light-mode #portfolio .portfolio--content .item {

  color: white;
}

.dark-mode  #portfolio .portfolio--content .item{
  background-color: #121212;
  color:white;
}





.site-footer {
  background-color:  #1c2b33;
  padding: 90px 15px 30px;
}

.site-footer .site-footer--content {
  max-width: 1600px;
  display: block;
  margin: 0 auto;
  color: #fff;
  border-bottom: 1px solid #0000004d;
}

@media screen and (min-width: 768px) {
  .site-footer .site-footer--content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

.site-footer .site-footer--content .footer-left {
  -ms-flex-preferred-size: 55%;
  flex-basis: 55%;
}

.site-footer .site-footer--content .footer-left p {
  font-size: 16px;
  line-height: 1.6;
  color: #e0e0e0;
  max-width: 500px;
  text-align: justify;
}

.site-footer .site-footer--content a {
  color: #fff;
  text-decoration: none;
}

.site-footer .copyright-notice {
  padding-top: 20px;
  text-align: center;
  color: #7a7a7a;
  border-top: 1px solid #3838380d;
}

